# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
venv/
.venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# IDEs & Editors
.idea/
.vscode/
.spyproject/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Exclude all data except `data/raw/`
# data/*
# !data/raw/
# !data/raw/.gitkeep

# Mac OS-specific storage files
.DS_Store

# Vim swap files
*.swp
*.swo

# Mypy cache
.mypy_cache/
venv
venv\
